div {
  display: block;
  position: relative; }

li {
  font-family: "Helvetica Neue";
  font-size: 10px;
  letter-spacing: 1px;
  line-height: 10px;
  list-style: none;
  text-transform: uppercase; }

h1 {
  font-family: "Helvetica Neue";
  font-weight: 100;
  text-align: center;
  text-transform: uppercase; }

* {
  margin: 0;
  padding: 0; }

header#username-header {
  -webkit-box-shadow: 0px 0px 10px black;
  -moz-box-shadow: 0px 0px 10px black;
  box-shadow: 0px 0px 10px black;
  margin-left: -400px;
  position: absolute;
  left: 50%;
  top: 0px;
  width: 800px;
  height: 100px; }
  header#username-header hgroup h1#username {
    font-size: 50px;
    line-height: 110px; }

.board {
  -webkit-box-shadow: 0px 0px 10px black;
  -moz-box-shadow: 0px 0px 10px black;
  box-shadow: 0px 0px 10px black;
  margin-left: -400px;
  position: absolute;
  left: 50%;
  top: 150px;
  width: 800px;
  height: 500px; }

#farmyard-board {
  background-color: #003200; }
  #farmyard-board .space-row:first-child {
    margin-top: 40px; }
  #farmyard-board .space-row {
    margin: 0 auto;
    width: 710px;
    height: 142px; }
    #farmyard-board .space-row .space {
      border: 1px solid white;
      cursor: pointer;
      float: left;
      margin: 20px;
      width: 100px;
      height: 100px; }

#action-board {
  display: none; }
  #action-board .action {
    width: 200px; }

#primary-nav-wrapper {
  -webkit-box-shadow: 0px 0px 10px black;
  -moz-box-shadow: 0px 0px 10px black;
  box-shadow: 0px 0px 10px black;
  background-color: rgba(0, 0, 0, 0.9);
  border: 1px solid black;
  cursor: pointer;
  padding: 20px;
  position: absolute;
  z-index: 2;
  width: 0; }
  #primary-nav-wrapper nav#primary-nav-control {
    background-color: white;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    width: 20px;
    height: 20px; }
  #primary-nav-wrapper ul#primary-menu {
    display: none;
    width: 160px; }
    #primary-nav-wrapper ul#primary-menu li {
      color: white;
      margin: 10px 0;
      text-align: center; }
