<!doctype html>
%html
  %head
    %title Agricola
    %link{ :rel => "stylesheet", :href => "css/style.css", :style => "text/css" }
    %script{ :src => "js/jquery.js", :type => "text/javascript" }
    %script{ :src => "js/ui.js", :type => "text/javascript" }
    %script{ :src => "js/coffeescript.js", :type => "text/javascript" }
    %script{ :src => "js/agricola.js.coffee", :type => "text/coffeescript" }
    %script{ :src => "js/object_test.js.coffee", :type => "text/coffeescript" }
  %body
  
    %ul#personal-supply
      
    
    #page
      %header#game-header
        %h1#game-title Agricola
      #content
        #option-board.slide